/* typography */
body,.widgets a{font:normal medium 'Gill Sans','Gill Sans MT',Corbel,Helvetica,Jara,'Nimbus Sans L',sans-serif;line-height:1.75;word-spacing:0.1em}
pre,kbd,code,samp{font:normal medium Consolas,'Andale Mono',Monaco,'Liberation Mono','Bitstream Vera Sans Mono','DejaVu Sans Mono',monospace;font-size:medium;line-height:1.75;word-spacing:0}
span,tr + tr th:first-child{font:normal medium FreeSerif,OpenSymbol,'DejaVu Sans','Arial Unicode MS',sans-serif}
pre span{font:normal medium 'DejaVu Sans',FreeSerif,OpenSymbol,'Arial Unicode MS',sans-serif}
.baa{font:oblique large Baskerville,Constantia,Palatino,'Palatino Linotype','URW Palladio L',serif}
abbr{font-variant:small-caps;letter-spacing:0.1em;text-transform:lowercase}
.q{margin:auto;text-align:right;font-style:oblique}
.fancy:first-letter{float:left;background:transparent;color:gainsboro;padding:0.11em 4px 0 0;font:normal 4em/0.68 serif}
.q span{font-size:large}
.note{margin-left:4.94em}
.note span{display:block;float:left;font-size:xx-large;line-height:0.875;margin:0 0.22em 0 -1.22em}

/* basics */
html{background:#fff;color:#000}
body{margin:28px}
#search div{float:right}
li ol{margin:0}
.c{text-align:center;font-size:small;line-height:2.154;margin:2.154em 0}

/* links */
a{background:transparent;text-decoration:none;border-bottom:1px dotted}
a:hover{border-bottom:1px solid}
a:link,.widgets a{color:#1b67c9}
a:visited{color:darkorchid}
.skip a,.skip a:hover,.skip a:visited{position:absolute;left:0px;top:-500px;width:1px;height:1px;overflow:hidden}
.skip a:active,.skip a:focus{position:static;width:auto;height:auto}

/* code blocks */
pre{white-space:pre-wrap;padding-left:2.154em;line-height:2.154;border-left:1px dotted}
.widgets{float:left}
.widgets,.widgets a,.download{font-size:small;line-height:2.154}
.block{clear:left}
pre a,.widgets a{padding:0.4375em 0;border:0}
.widgets a{text-decoration:underline}
pre a:hover{border:0}
kbd{font-weight:bold}
.prompt{color:#667}

/* headers */
h1,h2,h3,p,ul,ol{margin:1.75em 0;font-size:medium}
h1{background:papayawhip;width:100%}
h1,h2,h3{clear:both}

/* tables */
table{width:100%;border-collapse:collapse}
th,td{width:45%;margin:0;padding:0 0.5em}
th{text-align:left;vertical-align:baseline}
td{vertical-align:top}
th:first-child{width:10%;text-align:center}
.simple th{font-family:inherit !important}
.hover{background:#eee;color:inherit;cursor:default}
td pre{margin:0;padding:0;border:0}

/* section counters */
body{counter-reset:h1}
h1:before{content:"Chapter " counter(h1) ". "}
h1{counter-reset:h2}
h2:before{counter-increment:h2;content:counter(h1) "." counter(h2) ". "}
h2{counter-reset:h3}
h3:before{counter-increment:h3;content:counter(h1) "." counter(h2) "." counter(h3) ". "}
