html{background:#fff;color:#000}
body{font:normal medium 'Gill Sans','Gill Sans MT','Ikarius ADF',Candara,Jara,sans-serif;margin:1.75em;line-height:1.75;word-spacing:0.1em}
a{background:transparent;text-decoration:none;border-bottom:1px dotted}
a:hover{border-bottom:1px solid}
a:link{color:#1b67c9}
a:visited{color:darkorchid}
a[href^="http:"]:before,a[href^="https:"]:before{content:"\27A6  "}
h1 a,h2 a,h3 a,#nav a{color:inherit !important}
abbr,.p{border:0;letter-spacing:0.1em;text-transform:lowercase;font-variant:small-caps}
h1,h2,h3,p,ul,ol,#nav{margin:1.75em 0}
li ol{margin:0}
h1,h2,h3{font-size:medium}
h1{background:papayawhip;color:#000;width:100%;margin:0}
#index h2{margin-left:1.75em}
#index h3{margin-left:3.5em}
pre{white-space:pre-wrap;font-size:medium;line-height:2.154}
img{border:0}
.framed{border:1px solid}
pre{line-height:2.154;margin:2.154em 0;padding:0 0 0 2.154em;border-left:1px dotted}
td pre{margin:0;padding:0;border:0}
.c{text-align:center;clear:both;font-size:small}
p.fancy:first-letter{float:left;background:transparent;color:gainsboro;padding:0.11em 4px 0 0;font:normal 4em/0.68 serif}
blockquote.q{margin:auto;text-align:right;font-style:oblique}
figure{display:block;text-align:center;margin:1.75em 0}
figure img{display:block;margin:0 auto}
section,article,footer{display:block}
var{font-family:monospace;font-style:normal}
a.skip{font-size:small;display:block;margin:auto;text-align:right;border:0}
table{width:100%;border-collapse:collapse}
th{text-align:left;padding:0 0.5em;vertical-align:baseline;border:1px dotted}
th,td{width:45%;vertical-align:top}
th:first-child{width:10%;text-align:center}
.q span,tr + tr th:first-child{font-family:'Arial Unicode MS',sans-serif;font-style:normal}
.q span{font-size:large}
td{border:1px dotted;padding:0 0.5em}
body{counter-reset:h1}
h1:before{counter-increment:h1;content:counter(h1) ". "}
.appendix h1:before{content:""}
h1{counter-reset:h2}
h2:before{counter-increment:h2;content:counter(h1) "." counter(h2) ". "}
h2{counter-reset:h3}
h3:before{counter-increment:h3;content:counter(h1) "." counter(h2) "." counter(h3) ". "}
tr.hover,li.hover{background-color:#efefef;color:inherit}