/* mobile stylesheet for iPhone, Android, and other small-screen devices */

/* typography */
body,.c{font-size:12px;font-family:sans-serif;word-spacing:0}
pre,kbd,samp,code,var{font-size:12px;font-family:monospace}
span,pre span{font-size:12px;font-family:Arial,sans-serif}
.c,pre{line-height:1.75}
.baa{font-size:12px;font-family:serif}
abbr{font-variant:normal;text-transform:none;letter-spacing:0}
.note,p,ul,ol{font-size:12px;margin:1.75em 0}

/* basics */
html{color:#000}
body{margin:0}
.c{margin:1.75em 0}

/* links */
a{text-decoration:underline;border-bottom:0}
a:hover{border-bottom:0}
pre a{text-decoration:none}

/* code blocks */
pre{padding:0;border:0}

/* headers and pullquotes */
h1,h2,h3{padding:0;border:0;letter-spacing:0;font-variant:normal}
h1{margin:0;border-bottom:4px solid gainsboro;width:auto}
h2,h3{margin:1.75em 0}
h1,h1 code{font-size:18px}
h2,h2 code{font-size:16px}
h3,h3 code{font-size:14px}
h1:before{content:""}
h1{counter-reset:h2}
h2:before{counter-increment:h2;content:counter(h1) "." counter(h2) ". "}
h3:before{counter-increment:h3;content:counter(h1) "." counter(h2) "." counter(h3) ". "}

/* overrides */
.nm,.w,aside,form,form + p,.note span,ol li li,.q span{display:none}
ol{padding-left:24px}
ul{list-style:none;margin:0;padding:0}
dd{margin:0 0 0 1.75em}
